{% extends "base.html" %}

{% block content %}
<h2>Qui Sommes Nous ?</h2>
<p>
    Nous sommes la <strong>DD Corp</strong>, une équipe de robotique du <strong>lycée Gustave Eiffel D'Armentières</strong>, passionés d'innovation et de technologie. Nous sommes des participants de la <strong>FIRST LEGO LEAGUE</strong>.
</p>
<h2>Qu'est ce que la First Lego League ?</h2>
<p>
    La <strong>First Lego League</strong> (FLL) est une compétition qui encourage les jeunes a explorer la science, la technologie, l'ingénieurie et les mathématiques à travers des défis basés :
    <ul>
        <li>sur des missions de robotiques ou l'on doit utiliser des pièces LEGO pour créer un robot et des modules.</li>
        <li>mais aussi un projet d'innovation sur un thème qui change chaque année, et qui nous pousse a refléchir pour trouver des solutions a des problèmes réels.</li>
    </ul>
</p>
<h2>Nos Défis :</h2>
<p>
    <ul>
      <li><strong>Designer et programmer</strong> un robot LEGO qui complétera des missions sur le plateau.</li>
      <li><strong>Développer un projet d'innovation</strong> en lien avec le thème de cette année.</li>
      <li><strong>Travailler en équipe</strong> et respecter les valeurs de la FLL : <strong>découverte, innovation, inclusion et (le plus important!) FUN!!!!</strong>
    </ul>
</p>
<h2>Notre Équipe :</h2>
<p>
    Nous somme un groupe d'étudiant avec pleins de talents variés :<br>
    <strong>Guillaume, Luca, Janna, Soan et l'affreux Jules qui est nul la</strong><br>
    Dans la <strong>DD Corp</strong>, tout le monde travaille sur tout! Chaque membre contribue : <strong>au design, à la programmation, à la stratégie et à la réflexion (et à un monde meilleur en général)</strong>
</p>
<h2>Nos Accomplissements :</h2>
<p>
    <strong>Premiers en finale internationale de 2026 en corée !</strong> (100% vrai on god)
</p>
<p>Si vous souhaitez suivre nos péritpéties et voir dieu sur terre de vos propres yeux n'hésitez pas a nous suivre notre <a href="https://www.instagram.com/dd_corp_lego_team/">Instagram</a></p>
{% endblock %}
