{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename='images/Logo_Ddcorp_2.png') }}" alt="Logo DD Corp" class="logo">
<p>Bienvenue sur le site de la <strong>DD Corp</strong>, l'équipe de robotique du <strong>Lycée Gustave Eiffel</strong></p>
<ul>
    <li>Découvrez <a href="{{ url_for('equipe') }}">qui nous sommes</a></li>
    <li>Aprennez en plus sur nos <a href="{{ url_for('projet') }}">projets d'innovation</a></li>
    <li>Observez nos magnifiques perfommances en <a href="{{ url_for('robot') }}">robot game</a></li>
    <li>Si vous avez des questions, une remarque ou que vous souhaitez nous soutenir : envoyez nous un <a href="{{ url_for('formulaire') }}">message</a> !</li>
</ul>
{% endblock %}
