{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename='images/Coupes_1.jpg') }}" alt="Photo de toutes nos coupes" class="coupesImg">
<h2>Récompenses Internationales</h2>
<img src="{{ url_for('static', filename='images/Coupes_2.jpg') }}" alt="Photo du prix de corée" class="coupesAutresImg">
<p>Nous avons obtenus le prix "Core Values" en finale intérnationale en Corée du Sud pour la FLL de 2025/2026 "UNEARTHED".</p>
<h2>Récompenses Nationales</h2>
<img src="{{ url_for('static', filename='images/Coupes_3.jpg') }}" alt="Photo de la coupe robot design" class="coupesAutreImg">
<p>Nous avons aussi été récompensés avec la coupe du "robot design" à la nationales de la FLL 2025/2026 "UNEARTHED" à Mulhouse.</p>
<h2>Récompenses Régionales</h2>
<img src="{{ url_for('static', filename='images/Coupes_4.jpg') }}" alt="Photo des coupes champions hdf" class="coupesAutreImg">
<p>Nous avons été champions des Hauts-de-France pour la FLL de 2024/2025 : "SUBMERGED" (coupe de droite) et aussi pour la FLL de 2025/2026 : "UNEARTHED".</p>
<img src="{{ url_for('static', filename='images/Coupes_5.jpg') }}" alt="Photo de la coupe robot game" class="coupesAutreImg">
<p>De plus, nous avons obtenus la coupe du "robot game" au cours des régionales Hauts-de-France à Armentières de la FLL 2025/2026 "UNEARTHED".</p>
<img src="{{ url_for('static', filename='images/Coupes_6.jpg') }}" alt="Photo de la coupe esprit d'équipe" class="coupesAutreImg">
<p>Mais encore, nous avons été récompensés avec la coupe de "l'ésprit d'équipe" lors de la FLL 2024/2025 "SUBMERGED" à Armentières.</p>
<img src="{{ url_for('static', filename='images/Coupes_7.jpg') }}" alt="Photo de la coupe projet" class="coupesAutreImg">
<p>Et enfin, pendant la FLL 2023/2024 "MASTERPIECE" à Armentières nous avons obtenus la coupe du "projet".</p>
{% endblock %}
