{% extends "base.html" %}

{% block content %}
<h2>VESTIGE</h2>
<p>
    <strong>Une boîte intelligente pour analyser les sédiments.</strong><br>
    Notre projet s'inscrit dans le cadre de la compétition FIRST LEGO LEAGUE. Cette année le défi proposé aux équipes était d’imaginer une solution capable d’aider les archéologues dans leur travail.
</p>
<h2>L'origine du projet</h2>
<p>
    Nous ne sommes donc pas partis de l’archéologie par hasard : c’est le thème de la compétition qui nous a poussés à nous intéresser à ce domaine. Pour mieux comprendre les besoins réels du terrain, nous avons décidé d’échanger directement avec des professionnels.
</p>
<p>
    Nous avons ainsi pu discuter avec des archéologues comme Fawzi Doumaz et Daniel Istria. Grâce à plusieurs échanges et visioconférences avec eux, nous avons découvert à quel point les sédiments sont une source d’informations essentielle pour comprendre un site archéologique.
</p>
<p>
    Cependant, analyser ces sédiments demande souvent du temps, de l’expérience et parfois l’envoi d’échantillons en laboratoire. Nous avons donc cherché une idée qui pourrait faciliter et accélérer cette étape importante du travail des archéologues.
</p>
<h2>Notre Solution : Une Boite d'Analyse Automatisée</h2>
<p>
    Nous avons conçu l’idée d’une boîte capable d’analyser automatiquement un échantillon de sédiment.
</p>
<p>
    Le principe est simple : l’archéologue place un échantillon de sédiment dans la boîte, et celui-ci va ensuite passer à travers plusieurs étapes d’analyse, un peu comme dans une chaîne d’examen scientifique.
</p>
<p>
    À l’intérieur de la boîte, un petit tapis roulant fait avancer le sédiment à travers différents capteurs. À chaque étape, un nouveau capteur va analyser une caractéristique du sédiment.
</p>
<p>
    Ainsi, en quelques minutes, plusieurs informations importantes peuvent être récupérées automatiquement.
</p>
<p>
    Cette solution fonctionnerait comme un mini laboratoire portable directement sur le terrain.
</p>
<h2>Les Différentes Étapes d'Anlayse</h2>
<p>
    Lorsque le sédiment est placé dans la boîte, il avance progressivement sur le tapis roulant et passe par plusieurs stations d’analyse.
</p>
<ul>
    <li><strong>Anlayse de la compacité : </strong>L’une des premières analyses concerne la compacité du sédiment, c’est-à-dire la résistance du sol. Pour mesurer cela, nous utilisons un pénétromètre. Cet outil appuie sur le sédiment afin de mesurer la force nécessaire pour s’y enfoncer. Cette donnée permet de savoir si le sol est très compact ou au contraire plus meuble. Cette information peut aider les archéologues à comprendre la structure des différentes couches du sol.</li>
    <li><strong>Analyse de la couleur : </strong>Une autre étape consiste à analyser la couleur du sédiment grâce à un capteur de colorimétrie. La couleur d’un sol peut donner beaucoup d’indices aux archéologues : elle peut révéler la présence de matières organiques, d’anciens dépôts ou encore de transformations du sol au fil du temps.</li>
    <li><strong>Anayse du pH : </strong>Le sédiment passe ensuite par un capteur permettant de mesurer son pH. Le pH indique si le sol est acide, neutre ou basique. Cette information est importante car elle peut influencer la conservation des objets archéologiques dans le sol. Dans notre système, le pH pourrait être mesuré à plusieurs moments du processus afin d’obtenir une mesure plus fiable.</li>
    <li><strong>Enregistrement de la position : </strong>Toutes les informations recueillies peuvent être associées à une position GPS. Cela permet de savoir précisément où le sédiment a été prélevé sur le site archéologique. Les archéologues peuvent ensuite relier ces données à une carte du site pour mieux comprendre l’organisation du terrain.</li>
</ul>
<h2>Pourquoi Ce Système Peut Être Utile ?</h2>
<p>
    Notre boîte d’analyse permettrait d’obtenir rapidement plusieurs informations scientifiques sur un sédiment, directement sur le terrain.<br>
    Elle pourrait apporter plusieurs avantages :
</p>
<ul>
    <li>analyser un sédiment en quelques minutes</li>
    <li>obtenir plusieurs données automatiquement</li>
    <li>faciliter le travail des archéologues</li>
    <li>mieux comprendre les différentes couches du sol</li>
    <li>réduire le tempes d'attente pour certaines analyses</li>
</ul>
<p>
    En résumé, notre objectif est de créer un outil qui permettrait de rendre l’analyse des sédiments plus rapide, plus simple et plus efficace.
</p>
{% endblock %}
